.DS_Store

# symlinked app repo
voice-grader

# env files
.env*

# terraform
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
!terraform/terraform.tfvars.example
terraform/.terraform/
terraform/.terraform.lock.hcl

# kubernetes secrets
k8s/overlays/*/secrets.yaml
!k8s/base/secrets.yaml.template
